#include <zephyr/dt-bindings/gpio/gpio.h>
#include <zephyr/dt-bindings/pwm/pwm.h>

/ {
	ws2812_led0: ws2812_led0 {
		compatible = "lckfb,ws2812-tim5-dma";
		status = "okay";
		chain-length = <3>;
		color-order = "grb";
		reset-us = <300>;
		pixel-offset = <0>;
	};

	buzzer_pwm_group: buzzer_pwm_group {
		compatible = "pwm-leds";
		buzzer_pwm: buzzer_pwm {
			pwms = <&pwm3 1 PWM_USEC(1000) PWM_POLARITY_NORMAL>;
			label = "Buzzer PWM";
		};
	};

	aliases {
		ws2812-0 = &ws2812_led0;
		buzzer-pwm = &buzzer_pwm;
		eeprom-0 = &at24c02c_eeprom;
		spi-flash0 = &w25q128jv;
		gpio-expander-0 = &pca9555_ioexp;
		rtc-external = &sd3078_rtc;
	};
};

&timers5 {
	status = "okay";

	pwm5: pwm {
		status = "okay";
		pinctrl-0 = <&tim5_ch4_pa3>;
		pinctrl-names = "default";
	};
};

&timers3 {
	status = "okay";
	/* 84MHz / (83 + 1) = 1MHz, keeps PWM period cycles within 16-bit TIM3 range. */
	st,prescaler = <83>;

	pwm3: pwm {
		status = "okay";
		pinctrl-0 = <&tim3_ch1_pa6>;
		pinctrl-names = "default";
	};
};

&i2c1 {
	at24c02c_eeprom: eeprom@50 {
		compatible = "atmel,at24c02", "atmel,at24";
		reg = <0x50>;
		size = <256>;
		pagesize = <8>;
		address-width = <8>;
		timeout = <5>;
		status = "okay";
	};

	pca9555_ioexp: gpio_expander@20 {
		compatible = "nxp,pca9555";
		reg = <0x20>;
		gpio-controller;
		#gpio-cells = <2>;
		ngpios = <16>;
		status = "okay";
	};

	sd3078_rtc: rtc@32 {
		compatible = "maxim,ds1307";
		reg = <0x32>;
		status = "okay";
	};
};

&spi2 {
	cs-gpios = <&gpioe 7 GPIO_ACTIVE_LOW>, <&gpioe 4 GPIO_ACTIVE_LOW>;

	w25q128jv: spi-nor-flash@1 {
		compatible = "jedec,spi-nor";
		reg = <1>;
		spi-max-frequency = <8000000>;
		size = <134217728>;
		jedec-id = [ef 40 18];
		status = "okay";
	};
};

&dma1 {
	status = "okay";
};
